# CMake
build/
out/

# Visual Studio and MSBuild
.vs/
x64/
[Dd]ebug/
[Rr]elease/
*.user

# VS Code workspace settings
.vscode/

# Internal folders
playground/

# JavaScript out files
dist/

# npm
node_modules/
