# CMake
build/
out/

# Visual Studio and MSBuild
.vs/
x64/
[Dd]ebug/
[Rr]elease/
*.user

# IDE workspace settings
.vscode/
.idea/
.cache/

# JavaScript out files
dist/

# npm
node_modules/
package-lock.json
