[Unit]
Decription=Monidroid server

[Service]
ExecStart=${TARGET_DIR}/monidroid-server
RestartKillSignal=SIGINT
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
